/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    height: 100%;
    font-family: "Open Sans";
}

header {
    background: url(https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xpt1/t31.0-8/11227547_648180421993648_7012710644067075688_o.jpg);
    background-size: cover;
    height: 100vh;
    display: table;
}

header section {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    width: 100%;
    background: rgba(255,255,255,0.5);
}

header section h3 {
    display: inline-block;
    padding: 0.5rem;
    color: rgb(0, 106, 59);
    font-size: 1.8rem;
    background: rgba(0, 110, 54, 0.75);
    color: white;
}

#call-to-action {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    color: rgb(0, 106, 59);
    background: rgba(255,255,255,.9);
    display: inline-block;
    box-shadow: 0px 0px 2px rgba(0,0,0,.3);
}

.surge {
    text-decoration: none;
    color: white;
}

header section h3, #call-to-action  {
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

header h1 {
    margin-top: 0;
}

.logo {
    position: absolute;
    top: 0.5rem;
    left: 0rem;
    letter-spacing: 1px;
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.logo .first,
.logo .second,
.logo .third {
    font-weight: normal;
    margin: 0;
    font-size: 5rem;
    font-size: 2.9vw;
    padding: 0.5rem 1rem;
    position: relative;
    z-index: 10;
    display: inline-block;
    white-space: nowrap;
}

.logo .first {
    color: rgb(0, 106, 59);
    background: white;
    left: 4rem;

}

.logo .second {
    color: white;
    background: rgb(106,176,35);
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    padding: 0.5rem 2.2rem 0.5rem 4.2rem;
    font-size: 7rem;
    font-size: 5vw;
    z-index: 9;
    text-align: center;
}

.logo .third {
    color: white;
    background: rgb(0, 110, 54);
    margin-top: 0rem;
    left: 5rem;

}

.logo .first, .logo .third {
    font-size: 1.6rem;
    font-size: 2.25vw;
}

.main-nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: rgb(0, 110, 54);
    z-index: 999;

}

.main-nav ul, .main-nav li {
    list-style: none;
    padding: 0px;
    margin: 0;
}

.main-nav li {
    display: inline;
    float: left;
    width: 33.3%;
    text-align: center;
    border-right: 2px solid rgba(50, 50, 54,.6);
}

.main-nav li a {
    display: block;
    width: 100%;
    color: white;
    font-size: 2.5rem;
    padding: 0.25rem 0rem;
    text-decoration: none;
}

.what, .why, .how, .faqs {
    padding-bottom: 15rem;
}

.content section {
    width: 100%;
    min-height: 600px;
}

.grid-container {
    width: 90%;
    margin: 0px auto;
}

.detail-wrapper {
    margin-top: 0;
}

.grid-container h2 {
    font-size: 2.5rem;
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    color: white;
    background: rgb(0, 110, 54);
    display: inline-block;
    padding: 0.25rem 0.5rem;
    letter-spacing: 1px;
}

img {
    max-width: 100%;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

.circle {
    position: relative;
    width: 100%;
    border-radius: 100%;
    background: url(http://www.islingtongazette.co.uk/polopoly_fs/1.3991174.1426179312!/image/image.jpg_gen/derivatives/landscape_630/image.jpg);
    background-size: cover;
}

.circle.housing {
    background-image: url(http://hollowayexpress.co.uk/wp-content/uploads/2015/03/10888956_813381868705167_3487238571352688312_n.jpg);}

.circle.fair-wages {
    background-image: url(http://2.bp.blogspot.com/-2ZeKzvG9gPg/VQMj0IS986I/AAAAAAAAAIM/SzfGpAyqU7Y/s1600/10305326_633477100064796_7616130561722831483_n.jpg);}

.circle.air-pollution {
    background-image: url(http://towerhamlets.greenparty.org.uk/resources/Tower%20Hamlets%20Green%20Party/Air%20Pollution%20Demo%202015/DSC00585.JPG);}

.circle.climate-change {
    background-image: url(http://www.airportwatch.org.uk/wp-content/uploads/NO-at-Sipson-May-2008.jpg);}

.circle:before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}

.circle .content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(106,176,35,0.7);
    border-radius: 100%;
    text-align: center;
    box-shadow: rgba(0,0,0,.3);
}

.circle a:hover .content {
    background: rgba(106,176,35,0.9);
}

.circle.choose a .content h3 {
    color: rgb(0, 106, 59);
} .circle.choose .content {background: rgba(255,255,255,.75);}
  .circle.choose a:hover .content {background: rgba(255,255,255,.9);}

.circle a .content h3 {
    position: absolute;
    font-size: 3rem;
    font-size: 3vw;
    height: 60px;
    top: 50%;
    margin-top: -30px;
    text-align: center;
    width: 100%;
    color: white;
}

#get-involved {
    position: relative;
}

.close {
  position: absolute;
  top: 2.5rem;
  right: 3rem;
  width: 50px;
  cursor: pointer;
}

/* FAQs */

.faqs dt {
    font-size: 2.5rem;
    cursor: pointer;
}

.faqs dt.selected, article h4 {
    font-size: 2.5rem;
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    color: white;
    padding: 0 0.25rem;
    display: inline-block;
    background: rgb(0, 110, 54);
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
